<?xml version="1.0" encoding="utf-8"?>
<!--
  Lean first-debug manifest. Re-add HAND_TRACKING / HEADSET_CAMERA / RECORD_AUDIO
  only when those features are actually in the APK (Meta XR / UAC).
  Do NOT auto-launch on USB attach (would steal HDMI Link on a shared headset).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cinequest.monitor"
    android:installLocation="auto">

    <!-- UVC via USB host. CAMERA is commonly required by UVC plugins after merge. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1" />

    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:extractNativeLibs="true"
        tools:replace="android:allowBackup">

        <meta-data android:name="com.oculus.supportedDevices" android:value="quest3|quest3s" />
        <meta-data android:name="com.oculus.ossplash.background" android:value="black" />

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:screenOrientation="landscape"
            android:resizeableActivity="false"
            android:hardwareAccelerated="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>

            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
        </activity>
    </application>
</manifest>
